<template ngbModalContainer></template>
<div class="col-lg-12" style="padding-top: 10px;padding-left: 0px;" >
  <div class="col-lg-12 text-right">
    <a ng-href="" class="profile-edit-toggle" (click) ="onEditing()" ><p><i class="fa fa-pencil blue-icons" *ngIf="!editing" ></i></p></a>
  </div>
  <div class="col-lg-12 padding-0" style="position: static;padding-left: 0px;">
      <!-- Image -->
      <div class="col-lg-4 text-center padding-0">
      <div style="position: relative; width: 135px; height: 135px; margin: 0 auto; ">
        <img src="{{authGuard.profileImage}}" width="135px" height="135px" style = "margin-left:-50px;">
        <div *ngIf="editing" class="profile-img-text" (click)="imageModal.show()" ><br><br><div style="opacity: 1;"><i class="typcn typcn-camera-outline" style="margin-left: -50px;color: white"></i> <br> <span style="margin-left: -50px;font-size: 8px;">Change Profile Photo</span></div></div>
        </div>
        <br>
        <br>
        <br>
      </div>
    <!-- Forms -->
    <div class="col-lg-8" id = "placeholderText">
      <form (ngSubmit) = "onSubmit(f)" #f="ngForm" class="my-profile" style="position:relative">
        <div class="text-left" *ngIf="!editing">
          <div class="col-lg-12 padding-0">
            <!-- REMENBER CHANGE THE TEXT TO USER ANGULAR DATA -->
            <h3 style="margin-top: 0 !important;">{{authGuard?.firstname}} {{authGuard?.surname}}</h3>
            <h5>{{authGuard?.bio}}</h5><br>
            <!--<h5><i class="fa fa-phone blue-icons"></i> 07884 695716</h5>
            <h5><i class="fa fa-envelope-o blue-icons"></i> dick_jdvablc_occhinostein@ttfbw.net</h5>
            <h5><i class="fa fa-map-marker blue-icons"></i> 26, Melbourne Road High Wycombe HP137HD, UK</h5>-->
            <h5 *ngIf="authGuard.gender=='M'" border-width:0px;><i class="fa fa-venus blue-icons"></i>{{authGuard?.gender}}</h5>
            <h5 *ngIf="authGuard.gender=='F'" border-width:0px;><i class="fa fa-mars blue-icons"></i>{{authGuard?.gender}}</h5>
            <!--<h5><i class="fa fa-birthday-cake blue-icons" style="color: #007ad2"></i> March 25, 1990</h5>-->
          </div>
        </div>

        <div *ngIf="editing">
          <div class="form-group form-dashboard">
            <input type="text" class="form-control " name="firstname" id="firstname"  value=""  placeholder="Name" style="border: 1px solid #f0efee;" required  /><!-- ngModel={{authGuard.firstname}} -->
          </div>

          <div class="form-group form-dashboard">
            <input type="text" class="form-control "  style="border: 1px solid #f0efee;"   name="surname" id="surname"  value=""  placeholder="Surname" />
          </div>

          <div class="form-group form-dashboard" style="width:50%">
            <div class="select" style="color:rgb(169,169,169);">
              <span class="caret-select"></span>
              <select name="gender" class="form-control select-dashboard"  style="border: 1px solid #f0efee;color:rgb(169,169,169);"  ngModel="{{authGuard.gender}}" required >
                <option value="" disabled>Select Gender</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
              </select>
            </div>
          </div>

          <div class="form-group form-dashboard">
            <textarea class="form-control" name="bio" placeholder="Description" ngModel="{{authGuard.bio}}"   rows="3">{{authGuard?.bio}}</textarea>
          </div>
        </div>

        <p class="profile-bio" ><br></p>
        <div *ngIf="editing" style="padding-top: 22px; text-align: left">
          <!--button type="submit" class="btn btn-interest-cl cancel" ng-show="editing" ng-click="editing=!editing;save()">Cancel</button-->
          <button type="submit" class="btn btn-interest-cl save modal-btn" style="min-width: 80px;width: 80px; height: 30px;margin: 50px 0;letter-spacing: 0.9px;border-radius: 50px;text-transform: uppercase;font-size: 0.7em;">Save</button>
          <br>
          <br>
        </div>

      </form>
    </div>
  </div>

</div>

<div class="modal fade" bsModal #imageModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="imageModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Upload Image</h4>
      </div>
      <div class="modal-body text-center">
            <img-cropper #cropper [image]="data2" [settings]="cropperSettings2" ></img-cropper>
            <!--(onCrop)="cropped($event)"-->
            <br />
            <span class="result rounded" *ngIf="data2.image" >
                <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
            </span>
            <br />

                <label class="btn btn-default btn-file center">
                    Browse file <input #imgFile type="file" name="upload" (change)="fileChangeListener($event)">
                </label>
              <br /><br />

              <button type="submit" class="btn btn-primary cancel modal-btn" (click)="imageModal.hide()" >Cancel</button>
              <button [disabled]="!imgFile.value" (click)="uploadImg()" class="btn btn-primary save modal-btn">Accept</button>
      </div>
    </div>
  </div>
</div>
